.bg-3 {
    background: url("../../assets/bg-3.png"), #000b12;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.partner-logo img{
    width: 150px;
    margin: auto;
    transition: 0.5s;

    -webkit-filter: invert(0.5);
    filter: invert(0.5);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.partner-logo img:hover {
    transform: scale(1.2);
    -webkit-filter: invert(0);
    filter: invert(0);
}


